<table class="table table-hover">
  <thead>
    <tr>
      <th>CÓDIGO</th>
      <th class="text-center">QUANTIDADE</th>
      <th class="hidden-xs">DESCRIÇÃO</th>
      <th class="text-right">PREÇO UNIT.</th>
      <th class="text-right">PREÇO TOTAL</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item_facturas.each do |item_factura| %>
    <tr>
      <td><%= item_factura.codigo %></td>
      <td class="text-center"><%= item_factura.quantidade %></td>
      <td class="hidden-xs"><%= item_factura.descricao %></td>
      <td class="text-right"><%= item_factura.preco_unitario.to_kwanza %></td>
      <td class="text-right"><%= item_factura.preco_total.to_kwanza %></td>

      <td class="text-right">
        <%= link_to factura_item_factura_path(@factura, item_factura), class:"fa fa-times-circle fa-lg", style:"color: #ce1b1b;",method: :delete do %>
        <% end %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>
