<p id="notice"><%= notice %></p>

<h1>Item Facturas</h1>


<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Quantidade</th>
      <th>Preco unitario</th>
      <th>Descricao</th>
      <th>Preco total</th>
      <th>Factura</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item_facturas.each do |item_factura| %>
      <tr>
        <td><%= item_factura.codigo %></td>
        <td><%= item_factura.quantidade %></td>
        <td><%= item_factura.preco_unitario %></td>
        <td><%= item_factura.descricao %></td>
        <td><%= item_factura.preco_total %></td>
        <td><%= item_factura.factura %></td>
        <td><%= link_to 'Show', item_factura %></td>
        <td><%= link_to 'Edit', edit_item_factura_path(item_factura) %></td>
        <td><%= link_to 'Destroy', item_factura, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item Factura', new_item_factura_path %>
