<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @item_factura.codigo %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @item_factura.quantidade %>
</p>

<p>
  <strong>Preco unitario:</strong>
  <%= @item_factura.preco_unitario %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @item_factura.descricao %>
</p>

<p>
  <strong>Preco total:</strong>
  <%= @item_factura.preco_total %>
</p>

<p>
  <strong>Factura:</strong>
  <%= @item_factura.factura %>
</p>

<%= link_to 'Edit', edit_item_factura_path(@item_factura) %> |
<%= link_to 'Back', item_facturas_path %>
