<p id="notice"><%= notice %></p>

<h1>Tipos De Descontos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Natureza</th>
      <th>Motivo</th>
      <th>Percentagem</th>
      <th>Empresa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipos_de_descontos.each do |tipo_de_desconto| %>
      <tr>
        <td><%= tipo_de_desconto.nome %></td>
        <td><%= tipo_de_desconto.natureza %></td>
        <td><%= tipo_de_desconto.motivo %></td>
        <td><%= tipo_de_desconto.percentagem %></td>
        <td><%= tipo_de_desconto.empresa %></td>
        <td><%= link_to 'Show', tipo_de_desconto %></td>
        <td><%= link_to 'Edit', edit_tipo_de_desconto_path(tipo_de_desconto) %></td>
        <td><%= link_to 'Destroy', tipo_de_desconto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipo De Desconto', new_tipo_de_desconto_path %>
