<%= simple_form_for([@empresa, TipoDeImposto.new]) do |f| %>

  <%= f.error_notification %>

  <ul class="nav nav-tabs">
    <li role="presentation " class="active"> <%= f.button :submit, "Guardar", class:"guardar btn-padding" %> </li>
    <li role="presentation"> <%= link_to 'Cancelar', @empresa %> </li>
  </ul>

  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= f.input :tipo, autofocus: true, :input_html => {class:'form-control '}, placeholder: 'ex: IPC', label: "Tipo do Imposto"  %>
      <br>
      <%= f.input :motivo, :input_html => {class:'form-control '}, placeholder: 'Motivo da Aplicação Ex.: Dec. Presid. nº 0-A/14', label: "Motivo da Aplicação"  %>
      <br>
      <%= f.input :percentagem, :input_html => {class:'form-control '}, placeholder: 'ex: 1 ou 30', label: "% percentagem"  %>

    </div>
  </div>


<% end %>
