
<nav class="navbar navbar-default-facom navbar-static-top" style="margin-bottom: 0px;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <i class="fa fa-bars" style="color: #337ab7" aria-hidden="true"></i>
      </button>
      <a class="navbar-brand" href="<%=root_url %>">FACOM</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Tipo de Serviços'.html_safe, "#", class: "remove-hover" %> </li>
        <li><%= link_to 'Custo'.html_safe, "#", class: "remove-hover" %> </li>
        <li><%= link_to 'Contacto'.html_safe, "#", class: "remove-hover" %> </li>
        <li>
          <%= link_to new_usuario_session_url, class: "remove-hover botao-login" do %>
            <button type="button" class="btn btn-outline-secondary btn-login">ENTRAR</button>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="flex-row">
  <div class="flex-col-xs">
    <%= image_tag("icone-principal.png", alt: "logotipo da facom", class:"img-responsive") %>
  </div>
</div>

<div class="container text-center" style="margin-top: 8%;">
  <%= link_to new_registo_path do %>
    <button type="button" class="btn btn-registar">REGISTAR-SE</button>
  <% end%>
</div>

<div class="container" style="margin-top: 8%;" >
  <hr style="margin: 0px;">
  <br>
  <%= render "servicos" %>
</div>

<div class="" style="background-color: #64b7d0; margin-top: 8%;">
  <%= render "outros_servicos" %>
</div>

<div class="container text-center" style="margin-top: 8%;">
  <%= link_to new_registo_path do %>
    <button type="button" class="btn btn-registar">REGISTAR-SE</button>
  <% end%>
</div>







<style media="screen">
  .padding-nos-cards{
    padding-left: 100px;
    padding-right: 100px;
  }
</style>




<style media="screen">
  .remove-hover:hover, .remove-hover:focus{
    background-color: transparent!important;
  }

  .color-texto-portal{
    color: #fff;
  }
</style>
