
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="flex-container-fluid " style="margin-top: 10%;">
    <div class="flex-row flex-center-xs">
      <div class="flex-col-xs-12 flex-col-sm-4">
        <% if false %>
          <%=  %>
        <%else%>
          <%= image_tag("facom.png", alt: "logotipo da facom", class:"profile-img-card") %>
        <%end%>

        <h2>faCom</h2>

          <%= f.input :login, autofocus: true, :input_html => {class:'form-control '}, placeholder: 'email ou telemovel', label: false  %>
          <br>
          <%= f.input :password, :input_html => {class:'form-control '}, autocomplete: 'off',placeholder: '********', label: false  %>
          <br>
          <%= f.button :button, "entrar", class: "btn btn-sm btn-default btn-block guardar", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>A Entrar..." } %>

      </div>

    </div>
  </div>

  <br>

  <div class="flex-container-fluid ">
    <div class="flex-row flex-center-xs">
      <div class="flex-col-xs-6 flex-col-sm-2">
        <%= link_to 'voltar',  root_url, class: "btn btn-sm btn-default btn-block", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>A voltar..." } %>
      </div>

      <div class="flex-col-xs-6 flex-col-sm-2">
        <%= link_to 'Registar-se',  new_registo_path, class: "btn btn-sm btn-default btn-block", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>A processar..." } %>
      </div>

    </div>
  </div>

<% end %>
<% link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
