<p id="notice"><%= notice %></p>
<%= breadcrumb_index([link_to('Home', root_url), "Usuários"]) %>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"> <%= link_to 'Add Usuário', new_usuario_path %> </li>
</ul>
<br>

<table class="table table-hover">
  <thead>
    <tr>
      <th>NOME</th>
      <th>TELEMÓVEL</th>
      <th>EMPRESA ASSOCIADA</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr data-href="<%= usuario_url(usuario)%>">
        <td><%= usuario.nome %></td>
        <td><%= usuario.telemovel %></td>
        <td><%= usuario.empresa %></td>
        <td><%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
