<p id="notice"><%= notice %></p>
<%= breadcrumb_index([link_to('Home', root_url), link_to('Usuários', usuarios_url), "#{@usuario.nome}"]) %>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"> <%= link_to '<span><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</span>'.html_safe, edit_funcionario_path(@usuario) %> </li>
  <li role="presentation"> <%= link_to '<span><i class="fa fa-trash-o" aria-hidden="true"></i> Apagar</span>'.html_safe, @usuario, method: :delete, data: { confirm: 'Tens certesa ?' }, class: "apagar" %> </li>
</ul>
<br>

<p><strong>NOME: </strong><%= @usuario.nome %></p>
<p><strong>TELEMÓVEL: </strong><%= @usuario.telemovel %></p>
<p><strong>EMPRESA: </strong><%= @usuario.empresa.nome %></p>
