<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @usuario.nome %>
</p>

<p>
  <strong>Telemovel:</strong>
  <%= @usuario.telemovel %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @usuario.empresa %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
