<%= simple_form_for(@empresa) do |f| %>


  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :telemovel %>
    <%= f.text_field :telemovel %>
  </div>

  <div class="field">
    <%= f.label :telefone %>
    <%= f.text_field :telefone %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :estado %>
    <%= f.number_field :estado %>
  </div>

  <div class="field">
    <%= f.label :is_active %>
    <%= f.check_box :is_active %>
  </div>




  <%= f.input :logotipo, input_html: { hidden: true, class:"btn btn-primary" }, label: 'Adicionar logotipo' %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
