<%= breadcrumb_index([link_to('Home', root_url),current_usuario.super_admin? ? 'Empresas' : 'Configurações']) %>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"> <%= link_to 'Adicionar Empresa', new_empresa_path %> </li>
</ul>
<br>

<table class="table table-hover">
  <thead>
    <tr>
      <th>NOME</th>
      <th>TELEMÓVEL</th>
      <th>TELEFONE</th>
      <th>E-MAIL</th>
      <th>ESTADO</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empresas.each do |empresa| %>
    <tr data-href="<%= empresa_url(empresa)%>">
        <td><%= empresa.nome %></td>
        <td><%= empresa.telemovel %></td>
        <td><%= empresa.telefone %></td>
        <td><%= empresa.email %></td>
        <td><%= empresa.estado %></td>
        <td><%= link_to 'Show', empresa %></td>
        <td><%= link_to 'Edit', edit_empresa_path(empresa) %></td>
        <td><%= link_to 'Destroy', empresa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
