<%= breadcrumb_index([link_to('Home', root_url),current_usuario.super_admin? ? 'Empresas' : 'Configurações']) %>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"> <%= link_to '<span><i class="fa fa-plus" aria-hidden="true"></i> Empresa</span>'.html_safe, new_empresa_path %> </li>
</ul>
<br>

<table class="table table-hover">
  <thead>
    <tr>
      <th>NOME</th>
      <th>TELEMÓVEL</th>
      <th>TELEFONE</th>
      <th>E-MAIL</th>
      <th>ESTADO</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empresas.each do |empresa| %>
    <tr data-href="<%= empresa_url(empresa)%>">
        <td><%= empresa.nome %></td>
        <td><%= empresa.telemovel %></td>
        <td><%= empresa.telefone %></td>
        <td><%= empresa.email %></td>
        <td><%= empresa.estado %></td>
        <td class="text-right"><%= link_to 'Apagar', empresa, method: :delete, data: { confirm: 'Tens a certesa?' }, class: "apagar" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
