<%= breadcrumb_index([link_to('Home', root_url), current_usuario.super_admin? ? link_to('Empresas', empresas_path) : link_to('Configurações', empresas_path), "#{@empresa.nome}"]) %>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"> <%= link_to '<span><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</span>'.html_safe, edit_empresa_path(@empresa) %> </li>
  <% if (current_usuario.super_admin?) %>
    <li role="presentation"> <%= link_to '<span><i class="fa fa-trash-o" aria-hidden="true"></i> Apagar</span>'.html_safe, @empresa, method: :delete, data: { confirm: 'Tens certesa ?' }, class: "apagar" %> </li>
    <li role="presentation"> <%= link_to "<span>#{icon_activar_e_desactivar(@empresa.is_active)} #{esta_activado(@empresa.is_active)} </span>".html_safe, activar_e_desactivar_url(@empresa), method: :patch, class:"#{cor_do_activar_e_desactivar(@empresa.is_active)}", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> A Processar..." } %> </li>
  <% end %>
</ul>

<br>

<div class="flex-row">
  <div class="flex-col-xs">
    <p><strong>Nome: </strong><%= @empresa.nome %></p>
    <p><strong>Telemovel: </strong><%= @empresa.telemovel %></p>
    <p><strong>Telefone: </strong><%= @empresa.telefone %></p>
    <p><strong>Email: </strong><%= @empresa.email %></p>
    <p><strong>Estado: </strong><%= estado_da_empresa(@empresa.is_active) %></p>

  </div>

  <div class="flex-col-xs-12 flex-col-sm-3 flex-col-md-2 ">
    <% if @empresa.logotipo.present?  %>
      <%= image_tag(@empresa.logotipo, alt:"logotipo da empresa", class:"img-rounded img-responsive") %>
    <% else %>
      <img src="/assets/facom.png" alt="logotipo da empresa default" class="img-rounded img-responsive" />
    <% end %>
  </div>

</div>
