<p id="notice"><%= notice %></p>
<%= breadcrumb_index([link_to('Home', root_url), link_to('Registos', registos_url), "Resgisto da Empresa #{@registo.nome_empresa}"]) %>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"> <%= link_to '<span><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</span>'.html_safe, edit_registo_path(@registo) %> </li>
  <% if @registo.em_espera? %>
    <li role="presentation" class="active"> <%= link_to '<span><i class="fa fa-check " aria-hidden="true"></i> Editar</span>'.html_safe, aprovar_registo_url(@registo), method: :patch, class:"btn btn-success btn-xs", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> A Processar..." }  %> </li>
  <% end %>
  <li role="presentation"> <%= link_to '<span><i class="fa fa-trash-o" aria-hidden="true"></i> Apagar</span>'.html_safe, @registo, method: :delete, data: { confirm: 'Tens certesa ?' }, class: "apagar" %> </li>
</ul>
<br>

<p><strong>NOME DO ADMIN:</strong> <%= @registo.nome_user %></p>
<p><strong>NOME DA EMPRESA:</strong> <%= @registo.nome_empresa %></p>
<p><strong>TELEMÓVEL:</strong> <%= @registo.telemovel %></p>
<p><strong>E-MAIL:</strong> <%= @registo.email %></p>
