<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "FaCom" %></title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">

  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top no-margin no-padding">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <i class="fa fa-bars" style="color: #337ab7" aria-hidden="true"></i>
          </button>
          <a class="navbar-brand" href="<%=root_url %>">faCom</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">

          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'MISSÃO'.html_safe, "#", class: "remove-hover" %> </li>
            <li><%= link_to 'SERVIÇOS'.html_safe, "#", class: "remove-hover" %> </li>
            <li><%= link_to 'CONTACTO'.html_safe, "#", class: "remove-hover" %> </li>
            <li>
              <%= link_to new_usuario_session_url, class: "remove-hover botao-login" do %>
                <button type="button" class="btn btn-outline-secondary btn-login">ENTRAR</button>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="distancia-facom">
      <%= yield %>
    </div>

  </body>
</html>
